h3 {
    font-size:18px;
    font-weight:500;
    margin:30px 0 10px;
}
p {
    margin:15px 0;
}
ul {
    list-style: square outside none;
    padding-left:30px;
    margin:15px 0;
}
.container {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 20px;
    font-size:14px;
}
@media (max-width: 560px) {
    .container {
        padding: 0 10px;
    }
}
#header {
    padding: 20px 0 18px;
    background: #1a1a1a url(img/bg-line.jpg) repeat-x 0 100%;
    border-bottom: 1px solid #e6e9e8;
    text-transform: uppercase;
    font: 16px/1.5 "Helvetica Neue", arial, sans-serif;
}
#header a {
    color: #969998;
    border-bottom: 0 none;
}
#header a:hover {
    color: #ececec;
}
#header a:before {
    margin-right: 4px;
}
#logo {
    float: left;
}
#nav {
    float: right;
}
#nav a {
    padding: 4px 6px;
    margin: 0 6px;
}
#banner {
    position: relative;
    background-color: #fff;
    z-index: -9;
}
#banner img {
    float: left;
    width: 100%;
}
#banner p {
    position: absolute;
    top: 28%;
    left: 53%;
    font-size: 16px;
    color: #ddba7b;
    text-shadow: 0 1px 0 #fff;
}
@media (max-width: 640px) {
    #banner p {
        display: none;
    }
}
#banner .arale {
    font-size: 32px;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 300;
    color: #4ebbb2;
}
#module-list {
    border-bottom: 1px solid #e6e9e8;
    padding: 0 0 20px;
    text-align: center;
}
#module-list .container {
    overflow: hidden;
}
#category .tab {
    float: left;
    margin: 0;
    width: 33%;
}
#category .tab:last-of-type {
    margin-right: 0;
}
#category a {
    display: block;
    border-top: 3px solid;
    border-bottom: 0;
}
#category .tab-infrastructure a {
    border-color: #89C237;
}
#category .tab-utilities a {
    border-color: #F53379;
}
#category .tab-widgets a {
    border-color: #01ACE2;
}
.modules ul {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: 0;
    zoom:1;
}
.modules ul:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.modules li {
    float: left;
    margin-bottom: 8px;
}
.modules a {
    display: inline-block;
    padding: 2px 8px;
    margin-right: 4px;
    border-bottom: 0 none;
    color: #fff;
}
@media (max-width: 640px) {
    .modules p {
        text-align: left;
    }
}
#module-list a:hover {
    opacity: 0.8;
    text-decoration:none;
}
.tab a {
    color:#333;
}

#infrastructure a {
    background-color: #89C237;
}
.tab-infrastructure a:hover {
    color: #89C237;
}
#utilities a {
    background-color: #F53379;
}
.tab-utilities a:hover {
    color: #F53379;
}
#widgets a {
    background-color: #01ACE2;
}
.tab-widgets a:hover {
    color: #01ACE2;
}
#content {
    overflow: hidden;
    font-family: "Georgia", "Xin Gothic", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", Arial, sans-serif;
    background-color: #f6f9f8;
    padding-bottom: 30px;
}

.label-icon:before {
    margin-right: 3px;
}
.highlight {
    color: #01ACE2;
}
#footer {
    padding: 10px 0;
    text-align: right;
    font-size: 12px;
    font-family: "Helvetica Neue", sans-serif;
    color: #7b8080;
    background: #1a1a1a url(img/bg-line.jpg) repeat-x 100% 0;
    border-top: 1px solid #e6e9e8;
}
#footer a {
    color: #7b8080;
    border: 0 none;
}
