.container {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 20px;
}
@media (max-width: 560px) {
    .container {
        padding: 0 10px;
    }
}
#header {
    padding: 26px 0 18px;
    background: #f6f9f8 url(img/bg-line.jpg) repeat-x;
    border-bottom: 1px solid #e6e9e8;
    text-transform: uppercase;
    font: 16px/1.5 sans-serif;
}
#header a {
    color: #969998;
    border-bottom: 0 none;
}
#header a:hover {
    color: #565958;
}
#header a:before {
    margin-right: 4px;
}
#logo {
    float: left;
}
#nav {
    float: right;
}
#nav a {
    padding: 4px 6px;
    margin: 0 6px;
}
#banner {
    position: relative;
    background-color: #fff;
    z-index: -9;
}
#banner img {
    width: 100%;
    opacity: 0.6;
}
#category {
    padding-bottom: 20px;
    background-color: #fff;
}
#category .tab {
    float: left;
    margin-top: -32px;
    margin-right: 1%;
    width: 32%;
}
#category .tab:last-of-type {
    margin-right: 0;
}
#category a {
    display: block;
    border-bottom: 3px solid;
}
#category h3 {
    margin: 0;
}
#category .tab-infrastructure a {
    border-color: #89C237;
}
#category .tab-utilities a {
    border-color: #F53379;
}
#category .tab-widgets a {
    border-color: #01ACE2;
}
#module-list {
    background-color: #f6f9f8;
    border-top: 1px solid #e6e9e8;
    border-bottom: 1px solid #e6e9e8;
    padding: 10px 0 20px;
}
#module-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    zoom:1;
}
#module-list ul:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
#module-list li {
    float: left;
    margin-bottom: 8px;
}
#module-list a {
    display: inline-block;
    padding: 2px 8px;
    margin-right: 4px;
    border-bottom: 0 none;
    color: #fff;
}
#module-list a:hover {
    opacity: 0.8;
}
#infrastructure a {
    background-color: #89C237;
}
#utilities a {
    background-color: #F53379;
}
#widgets a {
    background-color: #01ACE2;
}

#footer {
    padding: 10px 0;
    text-align: right;
    font-family: sans-serif;
    color: #d7dddb;
    background: #f6f9f8;
    border-top: 1px solid #e6e9e8;
}
